
.base {
    height: 100%;
	.topbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 3em;
		padding: 0 1em;
		.iconfont {
			font-size: 1.5em;
			color: #333333;
		}
		.search-container {
			width: 75%;
		}
    }
    .separate-line {
        height: 1px;
        background-color: #eeeeee;
    }
    .middle-scroll {
        overflow-y: scroll;
        height: calc(100% - 6em);
        width: 100%;

    }
    
}